:root{
    --background-text-color:#002265;
    --header-background-color:#DACFCF;
}

.section3{
    background-color: #DACFCF;
    border-top: 3px solid var(--background-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section3 h3{
    font-size: 48px;   
    padding: 3%; 
}

.articles2{
    display: flex;
    color: white;
    height: 600px;
    width: 100%;
    font-size: 18px;
}

.article2_leftside{
    display: flex;
    flex-direction: column;
    gap: 50%;
    align-items: center;
    padding: 3%;
}

.article2_leftside_article{
    background-color: var(--background-text-color);
    border-radius: 0px 0px 50px 0px;
    margin-left: 20%;
    padding: 3%;
}

.article2_rightside{
    display: flex;
    margin-top: 15%;
    background-color: var(--background-text-color);
    border-radius: 50px 0px 0px 0px;
    padding: 3%;
    height: 36%;
    margin-right:10%;
}

.btn{
    text-decoration: none;
    color: white;
    background-color: var(--background-text-color);
    padding:2% 20%;
    border-radius: 50px;
    margin-left:20%;
    font-weight: 800;
    
}

.btn:hover{
    background-color: var(--header-background-color);
    border:2px solid var(--background-text-color);
    color: black;
    transition: .9s;
}



